html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: Georgia, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  padding: 0;
}

footer, header {
  margin: 0;
  background-color: #ffe500
}

h1 {
  margin: 0;
  font-size: 3rem;
  color: #b20953;
}
